<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>I want:</h3>
    </div>
  </div>
  <div class="row" id="dates">
    <form>
      <div class="multi-select">
        <label class="toggle-open" for="toggle-open">Select Weeks</label>
        <input type="checkbox" id="toggle-open">
        <ul class="multi-select-options">
            <li><label><input type="checkbox" name="dates" value="9-7" data-state="9-7"><span>September 7-13</span></label></li>
            <li><label><input type="checkbox" name="dates" value="9-14" data-state="9-14"><span>September 14-20</span></label></li>
            <li><label><input type="checkbox" name="dates" value="9-21" data-state="9-21"><span>September 21-27</span></label></li>
        </ul>
      </div>
      <ul class="multi-selected"></ul>
      <p>
      <button href="name_entry" id="other" class="btn btn-success btn-block">
        Done!
      </button>
    </p>
    </form>
  </div>
  <div class="row" id="hero-text">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Outer Banks, NC</h1><br>
      <h2>Family Vacation 2019</h2>
    </div>
  </div>
</div>