<div class="row">
  <div class="col-xs-6 offset-xs-3 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
    <h3>I like:</h3>
    <img src="<%= @homes.last.front %>">
  </div>
</div>
<div class="row" id="hero-text">
  <div class="col-xs-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
  <div class="title">
    <h1>Outer Banks, NC</h1>
  </div>
  <h2>Family Vacation 2019</h2>
</div>
</div>