/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 /*------------------------------*\
     Grid System
 \*------------------------------*/
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Molle:400i|Nunito|Vidaloka|Walter+Turncoat');


$aqua: #2C9FA3;
$yellow: #FFB914;
$orange: #FF8826;
$red: #F03813;
$berry: #B31237;

// font-family: 'Nunito', sans-serif;
// font-family: 'Walter Turncoat', cursive;
// font-family: 'Vidaloka', serif;
// font-family: 'Molle', cursive;



 .row,
 .column {
     box-sizing: border-box;
     text-align: center;
 }

 .row:before,
 .row:after {
     content: " ";
     display: table;
 }

 .row:after {
     clear: both;
 }

 .column {
     position: relative;
     float: left;
     display: block;
 }

 .column + .column {
     margin-left: 1.6%;
 }

 .column-1 {
     width: 6.86666666667%;
 }

 .column-2 {
     width: 15.3333333333%;
 }

 .column-3 {
     width: 23.8%;
 }

 .column-4 {
     width: 32.2666666667%;
 }

 .column-5 {
     width: 40.7333333333%;
 }

 .column-6 {
     width: 49.2%;
 }

 .column-7 {
     width: 57.6666666667%;
 }

 .column-8 {
     width: 66.1333333333%;
 }

 .column-9 {
     width: 74.6%;
 }

 .column-10 {
     width: 83.0666666667%;
 }

 .column-11 {
     width: 91.5333333333%;
 }

 .column-12 {
     width: 100%;
     margin-left: 0;
 }

 @media only screen and (max-width: 550px) {
     .column-1,
     .column-2,
     .column-3,
     .column-4,
     .column-5,
     .column-6,
     .column-7,
     .column-8,
     .column-9,
     .column-10,
     .column-11,
     .column-12 {
         float: none;
         width: auto;
     }

     .column + .column {
         margin-left: 0;
     }
 }

 /*------------------------------*\
     Styling
 \*------------------------------*/

 body {
   background: url('stock/colorful-homes.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .column {
     /* background: #eee;
     border: 1px solid #ccc;
     border-radius: 4px;
     color: #777; */
     padding: 5px;
     min-height: 30px;
     text-align: center;
 }

 .row {
     margin-bottom: 10px;
 }

 .row:first-child {
   margin-top: 25px;
 }

 .row:last-child {
     margin-bottom: 0;
 }

 .column .column {
     color: #eee;
     background: #333;
     border-color: #000;
 }

 .p {
   // font-size: 14px;
   text-align: center;
   padding-top: 100px;
 }

 @media only screen and (max-width: 550px) {
     .row {
         margin-bottom: 0;
     }
     .column {
         margin-bottom: 10px;
     }
     .row:last-child .column:last-child {
         margin-bottom: 0;
     }
 }




 /* CUSTOM */

 #hero-text {
   text-align: center;
   margin: 0 auto;
 }

 #hero-text h1, h2{
   background-color: tomato;
   color: white;
   border-radius: 10px;
   display: inline-block;
 }

 #hero-text h2 {
   font-family: 'Walter Turncoat', cursive;
   padding: 20px 58px 20px 48px;
   margin-top: -35px;
 }

 #hero-text h1 {
   font-family: 'Molle', cursive;
   padding: 15px 40px 15px 40px;
 }

 #other {
   border: 2px solid white;
 }

 .btn-primary {
   font-size: 30px;
   margin-bottom: 10px;
 }

 .btn-success {
   font-size: 30px;
 }

#dates {
    a {
    text-decoration: none;
  }
  a:hover {
    color: #00aeef;
  }
  h1 {
    font-size: 1.7em;
    text-align: center;
  }
  h2 {
    font-size: 1.2em;
  }
  h1,
  h2 {
    line-height: 1.7em;
    margin: 0;
  }
  h1 span,
  h2 span {
    display: block;
    font-size: .55em;
    font-weight: normal;
  }
  form {
    margin: 30px auto;
    width: 450px;
  }
  form p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 30px 0;
  }
  p button {
    margin-top: 50%;
  }
  input[type=text],
  input[type=tel] {
    font-size: 1em;
    height: 25px;
    padding: 5px 10px;
  }
  .multi-select,
  .multi-select-options,
  input[type=text],
  input[type=tel] {
    background: #fff;
    width: 100%;
  }
  .multi-select {
    display: block;
    position: relative;
    line-height: 35px;
    border: 1px solid #ddd;
    margin: 0 0 50px;
    padding: 0;
  }
  .multi-select input[type=checkbox],
  .multi-select input[type=radio] {
    display: none;
  }
  .multi-select label {
    margin: 0;
    padding: 0;
  }
  .multi-select .toggle-open {
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 0 10px;
    height: 35px;
    width: auto;
    cursor: pointer;
  }
  .multi-select .toggle-open:after {
    clear: both;
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    content: "";
    height: 0;
    width: 0;
    padding: 0;
    margin: 0 auto;
    border: 8px solid transparent;
    border-top-color: #07afef;
  }
  .multi-select-options {
    position: absolute;
    top: 35px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border-bottom: 1px solid #ddd;
  }
  .multi-select-options > li:first-child span {
    border-top: 1px solid #ddd;
  }
  .multi-select-options > li span {
    display: none;
    height: 35px;
    width: auto;
    padding: 5px 10px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-top: 0;
    cursor: pointer;
  }
  .multi-select-options > li span:after {
    content: "\002B";
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    right: 10px;
    z-index: 99;
  }
  .multi-select-options > li span:hover {
    background: #d7d7d7;
  }
  .multi-select-options > li input[type=checkbox]:checked + span {
    background: #b8eaa5;
    font-weight: bold;
  }
  .multi-select-options > li input[type=checkbox]:checked + span:after {
    content: "\2212";
    font-size: 1.3em;
  }
  #toggle-open:checked ~ .multi-select-options {
    height: 200px;
  }
  #toggle-open:checked ~ .multi-select-options label,
  #toggle-open:checked ~ .multi-select-options span {
    display: block;
  }
  #toggle-open:not(:checked) ~ .multi-select-options {
    display: block;
    background: none;
    border: none;
    padding: 5px 0;
  }
  #toggle-open:not(:checked) ~ .multi-select-options input[type=checkbox]:checked + span {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0px 10px;
    width: auto;
    position: inherit;
    top: 0;
    border-top: 1px solid #ddd;
  }
  #toggle-open:not(:checked) ~ .multi-select-options input[type=checkbox]:checked + span:before {
    content: '\2A09';
    padding: 0 5px 0 0;
  }
  #toggle-open:not(:checked) ~ .multi-select-options input[type=checkbox]:checked + span:after {
    content: '';
    position: inherit;
  }
}
 /*  BUTTONS  */
 // html, body {
 //   text-align: center;
 //   padding-top: 40px;
 //
 //   -webkit-perspective: 700px;
 //      -moz-perspective: 700px;
 //       -ms-perspective: 700px;
 //           perspective: 700px;
 // }
 //
 // /* Reset */
 // button {
 //   background: transparent;
 //   border: 0;
 //   padding: 0;
 //   cursor: pointer;
 //   outline: 0;
 //   -webkit-appearance: none;
 // }



 /* Custom */
 // button {
 //   display: inline-block;
 //   position: relative;
 //   width: 40%;
 //   padding: 2% 4%;
 //   margin-bottom: 2%;
 //   font-size: 60px;
 //   font-family: 'Nunito', sans-serif;
 //   border-radius: 8px;
 //   background: rgba( 44, 159, 163, 1 );
 //   color: #fff;
 //   box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
 //
 //   -webkit-transform: translateZ(0);
 //      -moz-transform: translateZ(0);
 //       -ms-transform: translateZ(0);
 //           transform: translateZ(0);
 //
 //   -webkit-transition: all 0.2s ease;
 //      -moz-transition: all 0.2s ease;
 //       -ms-transition: all 0.2s ease;
 //           transition: all 0.2s ease;
 // }
 //
 // button:hover {
 //   top: -10px;
 //   box-shadow: 0px 10px 10px rgba( 44, 159, 163, 0.2 );
 //
 //   -webkit-transform: rotateX(20deg);
 //      -moz-transform: rotateX(20deg);
 //       -ms-transform: rotateX(20deg);
 //           transform: rotateX(20deg);
 // }
 //
 // button:active {
 //   top: 0px;
 //   box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
 //   background: rgba( 44, 159, 163, .5 );
 // }